body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#line-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#line {
    width: 200px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
/*     transform-origin: 0% 50%; */
    animation: rotateLine 20ms linear infinite;
	transform-origin:center;
}


